@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
a{
  text-decoration: none;
  color : #FF6060;
}

.nav-list {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  list-style: none;
  color: #FF6060;
  gap: 50px;
  @media screen and (max-width: 550px){  
    font-size: 12px;
    margin-top: 14%;
  }
}

.active{
  text-decoration: underline;
  color: #FF6060;
}