@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.Error{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 40px;
    color: #FF6060;
    &_infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - 250px);
        &_title{
            align-self: center;
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 288px;
            margin: auto;
            @media screen and (max-width: 765px) {
                font-size: 96px;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        &_content{
            font-family: "Montserrat";
            font-weight: 500;
            font-size: clamp(20px, 4vw, 36px);
            text-align: center;
        }
        &_return{
            display: flex;
            align-self: center;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: clamp(12px, 2.5vw, 18px);
        }
        &_return:hover{
            border-bottom: solid 1px #FF6060;
        }
    }
}